@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

body {
  color: rgb(113 113 122);
  background:#EBEFF2
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

svg {
  fill: rgb(113 113 122);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

